* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #333;
}

.LogoIMG {
  width: 3vmin;
  margin-bottom: 0.4vmin;
  margin-right: 0.5vmin;
}

.Home-Title {
  font-size: 10vmin;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Home-Main-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cart-Main_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dark-Class {
  background-color: #333;
  color: #ccc;
}

.Item-List {
  display: grid;
  grid-template-columns: repeat(3, 38vmin);
  grid-template-rows: repeat(4, 50vmin);
  gap: 5vmin;
  width: 65vw;
  transform: translateX(-17.3vw);
  padding: 1vmin;
}

.Bill-Container {
  height: 100vh;
  width: 30vw;
  position: fixed;
  top: 7vh;
  right: 0;
}

.TotalPriceContainer {
  text-align: end;
  font-size: 3vmin;
  font-weight: 600;
}

.Card-BtnContainer {
  width: 33vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 2vmin;
}

.Card-BtnContainer-Price {
  font-weight: 600;
  font-size: 2.3vmin;
}

.Portpolio-Main-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Portpolio-Title {
  font-size: 10vmin;
  color: #ccc;
  margin: 10vmin;
}

.Portpolio-Items {
  display: grid;
  grid-template-columns: repeat(3, 40vmin);
  grid-template-rows: repeat(4, 62vmin);
  gap: 5vmin;
}

.Portpolio-Btn {
  position: absolute;
  bottom: 2vmin;
}
